.daysPane{
    -fx-padding: 0px 0px;
    -fx-alignmentt: center;
}

.weekName{
    -fx-pref-height: 100px;
    -fx-font-size: 28px;
    -fx-alignment: center;
    -fx-font-weight: bolder;
}
.nullButton{
    -fx-font-size: 24px;
    -fx-pref-height: 120px;
    -fx-pref-width: 120px;
    -fx-background-color: rgba(0,0,0,0);
}

.choosedDay{
    -fx-background-color: #515aff;
}

.dayButton:hover{
    -fx-background-color: #78bcff;
}

.choosedDay:hover{
    -fx-background-color: #515AFF;
}
