.currentDateLabel{
    -fx-font-size: 58px;
    -fx-pref-width: 350px;
    -fx-font-weight: bolder;
}

.userInputPane{
    -fx-pref-width: 480px;
}

.yearLabel, .monthLabel{
    -fx-font-size: 20px;
}

.yearInput , .monthInput{
    -fx-font-size: 20px;
    -fx-pref-width: 100px;
}

.searchInput{
    -fx-font-size: 20px;
    -fx-pref-width: 300px;
}